# Handling the tables

The main table 'Bibliometrix-Export-File-2021-11-17' have some information in a single line. So for example, the author list for a particular article is written in a single cell. This is also true for the name of the Universities and the Countries. So we need to create a routine that would split this line into several rows with the same article name, but each line has information on only one author, University name and Country.

In [1]:
import numpy as np
import pandas as pd
import re

In [56]:
raw_data = pd.read_excel('Bibliometrix-Export-File-2021-11-17.xlsx', sheet_name='Sheet1')
selected_columns = ['AF',
                 'C1',
                 'DT',
                 'LA',
                 'PY',
                 'TI'
                ]
raw_data_copy = raw_data[selected_columns].copy()
#Authors_Full_Name_aux = raw_data_copy['AF'].str.replace(',', '_').str.replace(' ', '_').str.replace(';',',')
lst_col = 'AF'
Authors_Full_Name_aux = raw_data_copy.assign(**{lst_col:raw_data_copy[lst_col].str.replace(',','-').str.replace(' ','_').str.split(';')})
Authors_Full_Name = Authors_Full_Name_aux.explode('AF')
Authors_Full_Name.AF = Authors_Full_Name['AF'].str.replace('-',',').str.replace('_',' ')
#Authors_Full_Name.to_excel('AF_split.xlsx')
#print(Authors_Full_Name)

In [12]:
raw_data = pd.read_excel('Bibliometrix-Export-File-2021-11-17.xlsx', sheet_name='Sheet1')
selected_columns = ['C1','TI']
raw_data_copy = raw_data[selected_columns].copy()
lst_col = 'C1'
Affiliation_aux = raw_data_copy.assign(**{lst_col:raw_data_copy[lst_col].str.replace(',','-').str.replace(' ','_').str.split(';')})
Affiliation_country.to_excel('Affiliation_country.xlsx')
#print(Affiliation_country)

In [ ]:
selected_columns = ['AU_UN','TI']
raw_data_copy = raw_data[selected_columns].copy()
lst_col = 'AU_UN'
Affiliation_aux = raw_data_copy.assign(**{lst_col:raw_data_copy[lst_col].str.replace(',','-').str.replace(' ','_').str.split(';')})
Affiliation_university = Affiliation_aux.explode('AU_UN')
Affiliation_university.AU_UN = Affiliation_university['AU_UN'].str.replace('-',',').str.replace('_',' ').str.strip()
Affiliation_university.to_excel('Affiliation_university.xlsx')
#print(Affiliation_university)

This procedure can be easily done with the pd.explode() method. This method will take a list within a cell and split it creating new rows with each item of the exploded cell. So, we transform the author and university names into a list splited by the semicollon and then exploded them, creating new rows with the single information on the author and university name. Further cleaning was performed with the string replace and strip methods.

In [40]:
Country_df = pd.read_excel('Affiliation_country.xlsx')
Country_df.C1 = Country_df['C1'].str.split(',')
for i in range (Country_df['C1'].size):
    Country_df['C1'].iloc[i] = Country_df['C1'].iloc[i][-1]
Country_df.to_excel('Country.xlsx')
print(Country_df)

             C1                                                 TI
0       BRAZIL.  FRBR AND RDA BASED METADATA APPLICATIONS IN DI...
1     COLOMBIA.  EYE TRACKING AND USABILITY IN DIGITAL INFORMAT...
2       BRAZIL.  EYE TRACKING AND USABILITY IN DIGITAL INFORMAT...
3       BRAZIL.  METHODOLOGICAL CHOICES FOR RESEARCH IN INFORMA...
4       BRAZIL.  METHODOLOGICAL CHOICES FOR RESEARCH IN INFORMA...
..          ...                                                ...
426     BRAZIL.  THE SEARCH FOR INFORMATION ON THE INTERNET: A ...
427     BRAZIL.  THE SEARCH FOR INFORMATION ON THE INTERNET: A ...
428     BRAZIL.  THE THEORETICAL APPROACH OF LENA VANIA RIBEIRO...
429     BRAZIL.  IMPROVEMENT OF STRATEGISTS AND NOVICE DECISION...
430     BRAZIL.  IMPROVEMENT OF STRATEGISTS AND NOVICE DECISION...

[431 rows x 2 columns]

Finally, to obtain the countries involved in each article, we used the information of affiliation that we exploded previously, and we noticed that by splitting the affiliation string in all the commas we would be able access the country by selecting the last item of these lsits. So, we created a loop that goes through all lines and replace the string by the last value of the string list, which is the country. We further cleaned the data by removing the final dot on the Excel but it possible to implement a routine that does this easily.